@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fffcf6;
}

.photo {
  background-image: url("/avatar.jpeg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 50%;
}

@media screen and (max-width: 410px) {
  .menu > :where(li) > :where(ul) {
    position: static;
  }
}
